html, body {
	margin:0;
	padding:0;
	height: 100%;
}

body * {
	font-family: excellenceinmotion, Arial, sans-serif;
	font-size: 14px;
	color:#051039;
	line-height: 22px;
}

.container {
	width:1000px;
	margin-left: auto;
	margin-right: auto;
}



/*HEADER*/

.header{
	height: 131px;
}

.header #logo{
	width:200px;
	margin-top: 10px;
	padding:3px;
}

.header #logoAirFrance{
	clear:both;
	height:15px;
	margin:0;
}

.header .dropdown{
	
}

.header ul {
	clear:both;
	list-style-type: none;
}

.header  a{
	text-transform: uppercase;
	color:black;
	padding: 10px;
}

.header li{
	float: left;
	text-decoration: none;
}

.header a:hover, .header .activeTab a{
	font-weight: bold;
	border-bottom: 3px solid red;
	background-color: white;
	text-decoration: none;
}

.header li #search{

}

.header form{
	clear:both;
	position: static;
}

/*MAIN*/

.main{
	background-color: #C40000;
	height: 65px;
	position: relative;
	z-index: 9;
}

.main p, form{
	color: white;
}

.tabs{
}

.main .row .row .col-md-5,.main .row .row .col-md-6 {
	color: white;
}

.main .row img{
	width: 35px;
	margin:0 10px;
}

.main .row h3{
	
	color: white;
	font-size: 18px;
	text-transform: uppercase;
}

.main .col-md-4{
	background-color: #C40000;

}

.main .row p{
		margin-left:  3%;
		margin-right: 3%;

}

.main .row input[type="text"]{
}

.main .row input[type="text"][name="wide"]{
	width: 94%;
}

.main .row input[type="text"][name="departing"]{
	width: 43%;
	margin-right: 6%
}

.main .row input[type="text"][name="person"]{
	width: 30%;
	margin-right: 6%;
}

.main .row input[type="text"][name="adult"]{

	width: 56%;
}

.bottom{
	margin-bottom: 40px;
}

.bottom1 {
	margin-bottom: 40px;
}

.main .active .theBlock1{
	display: block;

}

.main .theBlock1 {
	display: none;
}

.blueButton{
	background-color: #051039;
	border:none;
	padding: 5px 20px;
	color: white;
}


/*ASDF*/

.asdf{
	position: relative;
	height: 325px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom: 0;
}

.asdf img{
	position: absolute;
	width:100%;
	height: 100%;
	left:0;
	top:0;
}

/*INCLUDED*/

.included{
	margin-top: 0;
	height: 170px;

}

.includedInPrice{
	background-color: #F0F0F0;
	text-align: center;
	padding-right: 120px;
	padding-left: 120px;
	padding-bottom: 40px;
}

.includedInPrice h1{
	font-weight: bolder;
	font-size: 26px;
	margin-top: 0;
	padding: 40px;
	color:#051039;

}

.includedInPrice .row{
	text-transform: uppercase;

}

/*SERVICES*/
.services{
	
}

.services h1{
	text-align: center;
	font-size: 25px;	
	font-weight: bolder;
	padding-top: 30px;
}

.services .col-md-3 h1{
	padding-top: 10px;
	font-size: 15px;
	text-transform: uppercase;
}

.services .col-md-3 p{
	color: #999;
	text-align: center;
}

.services .row p{
	height:70px;
}

.services #note{
	padding-top: 50px;
	padding-bottom: 10px;
	color: #999;
	font-size: 10px;
}

.services .row{

}

.services .row button{
	width: 90%;
	margin-top: 50px;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #C40000;
	border:none;
	color: white;
}

.services .col-md-3{
	margin-top: 20px;
	border-left:1px solid #F0F0F0;
	height: 400px;
}
#first{
	border-left: 0 solid black;
}

.services img{
	width:100%;
	max-height: 180px;
}


/*FOOTER*/
.footer{
	background-color: #F0F0F0;
}

.footer .container{
	padding-bottom: 50px;
}

.footer .row h2{
	font-weight: 800;
	font-size: 12px;
}

.footer .row .skyColor{
	color: #00B3BE;
}

.footer .row .greyColor{
	color: #666666;
}

.footer #destinations{
	margin-top: 30px;
}

.footer .row .flights{
	
}

.footer .row .flights p{
	margin-top: 0;
	line-height: 5px;
	color: #666;
	font-size: 12px;
}



/*------------------OUR SERVICES---------------------*/

/*AIRPORT*/

.airport{
	position: relative;
	z-index: 1;
	margin-top: 30px;
	margin-bottom: 40px;
}

.airport h1{
	font-size: 32px;
	color: red;
}

.airport h2{
	color:red;
}

.airport p{
	color: #777;
}

/* CAR */

.car{
	background-color: #F6F6F6;
}




/*-------------------Programmes----------------------*/

/* FARE */

.fare h1, .vision h1{

	color: red;
	font-size: 35px;
}

.fare table{
	width: 100%;
	height:300px;

}

.fare table, td,th{
	border: 2px solid #E6E6E6;
}


.fare .headTable{
	color: white;
	font-weight: bolder;
	text-align: center;
}


#first{
	border:0;
}
#promo{
	background-color: #FF8811;
}
#basic{
	background-color: #BB23A0;
}
#basic2{
	background-color: #962399;
}
#smart{
	background-color: #2986E8;
}
#flex{
	background-color: #1100FF;
}
#youth{
	background-color: #7FBA00;
}

.fare .conditions {
	background-color: #E6E6E6;
}

.fare .greyBox{
	background-color: #FAFAFA;
	width: 9%
}

.fare td{
	width: 5%;
}



/*-------------COMMITMENTS---------------*/

/* VISION */

.vision{
	padding-top: 50px;
	padding-bottom: 10px;
}
.vision p{
	color: #C40000;
}


/* ACTIONS */

.actions{
	padding-top: 80px;
	background-color: #F6F6F6;
	padding-bottom: 80px;
}







.slider{
	position: relative;
	width:100%;
	margin:0 auto;
	height: 50%;
}

.slide{
	background-size: 100%;
	display: none;
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

.active-slide{
	display: block;
}

.slide img{

	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}




.navTools{
	position: absolute;
	top:75%;
	left:50%;
	text-align: center;
	height:100px;
}

.navTools a:hover{
	text-decoration: none;
	color: red;
}



.arrow-prev {
	margin-right: 45px;
	display: inline-block;
	vertical-align: top;
	margin-top: 9px;
}

.arrow-next {
	margin-left: 45px;
	display: inline-block;
	vertical-align: top;
	margin-top: 9px;
}

.slider-dots {
	list-style: none;
	display: inline-block;
	padding-left: 0;
	margin-bottom: 0;
}

.slider-dots li {
	color: #bbbcbc;
	display: inline;
	font-size: 30px;
	margin-right: 5px;
}

.dot{
	font-size: 50px;
}
.active-dot{
	color: red;
}